<template>
  <div class="absolute overflow-hidden">
    <img id="main-bg" src="" alt="bg" class="h-screen w-screen scale-105 object-cover object-center blur-sm brightness-50" />
  </div>

  <div class="absolute flex h-screen w-screen flex-col items-center justify-between py-4">
    <slot name="header">
      <!-- Just something by default so then the main slot stays on the middle -->
      <div />
    </slot>

    <slot name="main"></slot>

    <div class="flex flex-col items-center space-y-2">
      <button class="h-9 text-sm opacity-80"><i class="nf-mdi-information"></i></button>
      <button class="h-9 text-sm tracking-tight opacity-80"><i class="nf-mdi-refresh"></i> Refresh</button>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'Background',
    props: {},
    components: {},
    data() {
      return {}
    },
    computed: {},
    methods: {
      downloadImg() {
        // document.querySelector('#main-bg').src = 'https://images.unsplash.com/20/dusty-sky.JPG?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=480'
        document.querySelector('#main-bg').src = 'https://images.unsplash.com/photo-1563387852576-964bc31b73af?h=480'
        // this.$common.getImageB64('').then((resp) => {
        // console.log('resp', resp)
        // })
      },
    },

    mounted() {
      this.downloadImg()
      // https://images.unsplash.com/20/dusty-sky.JPG?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=1080
      // console.log('mounted')
    },
  }
</script>

<style lang="scss"></style>
