<template>
  <div class="">
    <input
      v-model="search_input"
      ref="main-input"
      type="text"
      placeholder="What do you seek?"
      class="form-control input-bg"
      @keydown.enter="searchUsing(default_engine)"
    />

    <div class="mt-4 flex select-none flex-wrap justify-center gap-4 overflow-x-auto pb-3 align-middle">
      <template v-for="(engine, engine_key) in ENGINES" :key="engine_key">
        <a
          :href="`${engine.url}${search_encoded}`"
          class="btn gray inline-block p-2 opacity-80 hover:opacity-100"
          :class="{ 'border-gray-600/50': default_engine === engine_key }"
        >
          <img :src="engine.img" :alt="engine.name" class="w-8" />
        </a>
      </template>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'MainSearch',
    props: {},
    components: {},
    data() {
      return {
        ENGINES: {
          'ddg': {
            'name': 'DuckDuckGo',
            'img': new URL('@/assets/Logos/duckduckgo.svg', import.meta.url).href,
            'url': 'https://duckduckgo.com/?k1=-1&q=',
          },
          'google': {
            'name': 'Google',
            'img': new URL('@/assets/Logos/google.svg', import.meta.url).href,
            'url': 'https://www.google.com/search?hl=en&q=',
          },
          'arch': {
            'name': 'Arch',
            'img': new URL('@/assets/Logos/arch.svg', import.meta.url).href,
            'url': 'https://wiki.archlinux.org/index.php?search=',
          },
          'npm': {
            'name': 'NPM',
            'img': new URL('@/assets/Logos/npm.svg', import.meta.url).href,
            'url': 'https://www.npmjs.com/search?q=',
          },
          'youtube': {
            'name': 'YouTube',
            'img': new URL('@/assets/Logos/youtube.svg', import.meta.url).href,
            'url': 'https://www.youtube.com/results?search_query=',
          },
          'twitch': {
            'name': 'Twitch',
            'img': new URL('@/assets/Logos/twitch.svg', import.meta.url).href,
            'url': 'https://www.twitch.tv/search?term=',
          },
          'reddit': {
            'name': 'Reddit',
            'img': new URL('@/assets/Logos/reddit.svg', import.meta.url).href,
            'url': 'https://www.reddit.com/search/?q=',
          },
          'wikipedia': {
            'name': 'Wikipedia',
            'img': new URL('@/assets/Logos/wikipedia.svg', import.meta.url).href,
            'url': 'https://en.wikipedia.org/wiki/Special:Search?search=',
          },
        },

        search_input: '',
      }
    },
    computed: {
      search_encoded() {
        return encodeURIComponent(this.search_input)
      },

      default_engine() {
        return Object.keys(this.ENGINES)[0]
      },
    },
    methods: {
      searchUsing(engine_key) {
        const engine = this.ENGINES[engine_key]
        location.assign(`${engine.url}${this.search_encoded}`)
      },

      setInputFocus() {
        const input_el = this.$refs['main-input']
        input_el.focus()
      },
    },

    mounted() {
      this.setInputFocus()
    },
  }
</script>
