<template>
  <div class="">
    <div class="mb-3 select-none text-8xl font-light text-gray-100/80">{{ time }}</div>
    <div class="select-none text-xl font-light text-gray-200/60">{{ date }}</div>
  </div>
</template>

<script>
  export default {
    name: 'MainInfo',
    props: {},
    components: {},
    data() {
      return {
        time: '00:00',
        date: '',
        interval: null,
      }
    },
    computed: {},
    methods: {
      updateTimer() {
        const today = new Date()

        const clock_options = { 'hour': '2-digit', 'minute': '2-digit', 'hour12': false }
        this.time = today.toLocaleTimeString('en-US', clock_options)

        const date_options = { 'weekday': 'long', 'year': 'numeric', 'month': 'long', 'day': 'numeric' }
        this.date = today.toLocaleDateString('en-US', date_options)
      },
    },

    mounted() {
      this.updateTimer()
    },

    beforeMount() {
      this.interval = setInterval(() => this.updateTimer(), 5 * 1000)
    },

    beforeUnmount() {
      if (this.interval) clearInterval(this.interval)
      this.interval = null
    },
  }
</script>
