@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: FiraCode-Regular;
  src: url('@/assets/FiraCode-Regular.ttf');
}
/* @font-face {
  font-family: FiraCode-Light;
  src: url('@/assets/FiraCode-Light.ttf');
} */

body {
  @apply bg-zinc-900 text-zinc-300;
}

@layer base {
  html {
    font-family: FiraCode-Regular, system-ui, sans-serif;
    @apply selection:bg-amber-600/50;
  }

  h1 {
    @apply text-4xl font-semibold;
  }
  h2 {
    @apply text-2xl font-semibold;
  }
  h3 {
    @apply text-lg font-semibold;
  }
  h4 {
    @apply text-base font-semibold;
  }
  h5 {
    @apply text-sm font-semibold;
  }
  h6 {
    @apply text-xs font-semibold;
  }

  button {
    @apply rounded py-1 px-3 text-center hover:bg-slate-500/40;
  }
}

@layer components {
  input[type='text'] {
    @apply w-full rounded-lg bg-clip-padding px-4 py-2 text-lg transition ease-in-out;
    @apply caret-amber-600 backdrop-blur-sm focus:outline-none focus:backdrop-blur-sm;
  }

  input.input-bg {
    @apply bg-zinc-700/10 hover:bg-zinc-500/20 focus:bg-zinc-400/20;
  }

  .btn {
    @apply rounded-lg backdrop-blur-md transition ease-in-out;
    @apply border-2 border-transparent;
  }

  .btn.gray {
    @apply bg-zinc-700/10 hover:bg-zinc-500/20;
  }
}

/* Icons - NerdFonts glyphs: https://www.nerdfonts.com/cheat-sheet */

i[class^='nf-mdi-'],
i[class*=' nf-mdi-'] {
  font-family: FiraCode-Regular !important;
  speak: never;
  font-style: normal;
  font-size: 1.3em;
  margin-right: 0.2em;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nf-mdi-refresh:before {
  content: '\f94f';
}
.nf-mdi-information:before {
  content: '\f7fb';
}
