<template>
  <Background>
    <template #header>
      <div class="italic text-gray-100/40 select-all">A quote maybe?</div>
    </template>

    <template #main>
      <div class="mx-auto w-[90%] max-w-[600px] text-center">
        <MainInfo class="mb-10" />
        <MainSearch />
      </div>
    </template>
  </Background>
</template>

<script setup>
  import Background from '@/components/Background.vue'
  import MainInfo from '@/components/MainInfo.vue'
  import MainSearch from '@/components/MainSearch.vue'
</script>
